{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "18"
        }
      }
    ],
    [
      "@babel/preset-typescript",
      {
        "allowDeclareFields": true,
        "onlyRemoveTypeImports": true
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@config": "./src/config",
          "@shared": "./src/shared",
          "@infra": "./src/infra",
          "@modules": "./src/modules",
          "@modules/auth": "./src/modules/auth",
          "@modules/plugins": "./src/modules/plugins",
          "@modules/workflows": "./src/modules/workflows",
          "@modules/runs": "./src/modules/runs",
          "@modules/engine": "./src/modules/engine",
          "@modules/realtime": "./src/modules/realtime"
        }
      }
    ]
  ],
  "ignore": ["**/*.spec.ts", "**/*.test.ts"]
}
